<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">E-School</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="modalClicked(null, 'add')">Add Student <span class="sr-only">(current)</span></a>
        </li>
     </ul>
  </div>
</nav>

<div style="border: 2px; width: 80%; margin-top:20px; margin-left:10%;" class="container profile-page" id="profileContainer">
  <button class="btn btn-primary" (click)="modalClicked(null, 'add')"> ADD Student</button>
<table class="table table-sm">
  <thead>
    <tr >
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">GPA</th>
      <th scope="col">GROUP</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students" > 
      <th scope="row">ID:{{ student.id}}</th>
      <td>{{ student.first_name}}</td>
      <td>{{ student.last_name}}</td>
      <td>{{ student.gpa}}</td>
      <td>ITSE-1903</td>
      <div>
        <button class="btn btn-danger" (click)="modalClicked(student, 'delete')">Delete</button>
    </div>
    </tr>
  </tbody>
</table>
</div>



<div class="modal fade" id="addStudentM" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add a student</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #addForm="ngForm" (ngSubmit)="onAddStudent(addForm)">


        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" ngModel name="first_name" class="form-control" id="first_name" placeholder="First name" required>
        </div>

        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" ngModel name="last_name" class="form-control" id="last_name" placeholder="Last name" required>
        </div>

        <div class="form-group">
          <label for="gpa">GPA</label>
          <input type="number" ngModel name="gpa" class="form-control" id="gpa" placeholder="gpa" required>
        </div>

        <div class="modal-footer">
          <button type="button" id="add-student-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Add</button>
        </div>

      </form>
    </div>
    
  </div>
</div>
</div>



<div class="modal fade" id="deleteStudentM" tabindex="-1" role="dialog" aria-labelledby="deleteStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete a student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Confirm deleting a student</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="onDeleteStudent(deleteStudent!.id)" type="button" class="btn btn-primary" data-dismiss="modal" >Confirm</button>
      </div>
    </div>
  </div>
</div>